@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap');

$primary: #ff902c;
$secondary: white;
$dark: #484656;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
}
// Links
a.link {
    color: $secondary;
    text-decoration: none;
    &.underline {
      text-decoration: underline;
    }
}

  // Titulo da Seção
.title-section {
    display: flex;
    align-items: center;
    color: $secondary;
    position: relative;
    width: 100%;
    height: 44px;
    padding-left: 20px;
    &:before {
      content: '';
      width: 3px;
      height: 100%;
      background-color: $primary;
      position: absolute;
      left: 0;
    }
}
.container-fluid {
    padding: 0 55px;
}
section {
    padding: 120px 0;
    position: relative;
    article {
        color: $dark;
    }
    &.dark-theme {
        background: #35333d; /* Old browsers */
        background: -moz-linear-gradient(top,  #35333d 0%, #100f12 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #35333d 0%,#100f12 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #35333d 0%,#100f12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35333d', endColorstr='#100f12',GradientType=0 ); /* IE6-9 */
        article {
            color: $secondary;
            * {
                fill: $secondary;
            }
        }
    } 
}
article {
    h1 {
        font-size: 44px;
        font-weight: 700;
        margin: 0 0 15px 0;
        color: unset;
    }

    h2 {
        font-size: 27px;
        font-weight: 400;
        margin: 0 0 10px 0;
        color: unset;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: unset;
    }

    .infos {
        display: flex;
        align-items: flex-end;
        margin: 20px 0;
        p {
            margin-right: 25px;
            svg {
                margin-right: 10px;
                width: 16px;
            }
        }
    }
}